*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: grey;
}

.todo-input-container {
    height: 100px;
    /* background-color: black; */
    padding: 20px;
    /* display:flex; */
}

.todo-input {
    height: 70%;
    width: 50%;
    padding: 10px;
    outline:navajowhite;
    border: 0px;
    border-radius: 20px;
    font-size: 20px;
    display: flex;
    margin: auto;
    margin-bottom: 20px;
    font-weight: bold;
    text-decoration:underline;
    align-items: center
}

.add-todo {
    display: block;
    margin: auto;
    height: 75%;
    width: 15%;
    font-weight: bold;
    border-radius: 10px;
    border: 5px solid white;
    color: white;
    font-size: 20px;
    background-color:rgb(39, 13, 13);
}

.todos-list-container {
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    flex-direction: column; 
    align-items: center
    
}

.todo-item {
    width: 40%;
    margin: auto;
    margin-top: 40px;
    background-color: rgb(245, 240, 240);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
}

.todo {
    color: white;
    font-size: 20px;
    margin: auto;
}

.delete-todo {
    background-color: #e74c3c;
    color: white;
    width: 70px;
    height: 25px;
    border: none;
}